n8n-workflows/Lara-Secretaria.json
{
  "name": "Lara - Secretaria",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8ca54eae-15d1-49d3-af33-7a6e5d17b833",
              "leftValue": "={{ $json.tipo }}",
              "rightValue": "incoming",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "82912d66-ee4b-439c-9d55-96090bc6ba62",
              "leftValue": "={{ $json.etiquetas }}",
              "rightValue": "agente-off",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -5600,
        -288
      ],
      "id": "634eb93f-a165-4184-8a9b-ecad505339e8",
      "name": "Mensagem chegando?"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f6ddc488-8680-4351-84dd-d9e73b2d102d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -6048,
        -288
      ],
      "id": "8b1d1bdc-2f4e-4111-99f7-db8289b077c2",
      "name": "Mensagem recebida",
      "webhookId": "f6ddc488-8680-4351-84dd-d9e73b2d102d"
    },
    {
      "parameters": {
        "jsCode": "const ultima_mensagem_da_fila = $input.last()\nconst mensagem_do_workflow = $('Info').first()\n\nif (ultima_mensagem_da_fila.json.id_mensagem !== mensagem_do_workflow.json.id_mensagem) {\n  return [];\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3360,
        -384
      ],
      "id": "3c0b458a-95f4-4f26-8fce-4b86dde192f0",
      "name": "Mensagem encavalada?",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list",
          "cachedResultName": "n8n_fila_mensagens"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $json.telefone }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "timestamp"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3584,
        -384
      ],
      "id": "be521801-d971-44c1-a9ad-9ff4da072f8b",
      "name": "Buscar mensagens",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "ekqY1gcIc1y9RfUY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "telefone",
              "value": "={{ $json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3136,
        -384
      ],
      "id": "9794dc31-1f0b-4866-b5c5-4b1d7501611a",
      "name": "Limpar fila de mensagens",
      "credentials": {
        "postgres": {
          "id": "ekqY1gcIc1y9RfUY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3808,
        -384
      ],
      "id": "b4fb465a-89b0-4dc8-b482-30d6d4a6ccbd",
      "name": "Esperar",
      "webhookId": "689b51a0-89fe-459d-a560-a59c79797611"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info').item.json.mensagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $('Info').item.json.mensagem_de_audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4256,
        -288
      ],
      "id": "6a27b007-aad5-4bbb-915d-0cc1318b7349",
      "name": "Tipo de mensagem"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "",
            "mode": "list"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        -1984,
        -64
      ],
      "id": "77016852-009e-4fbd-b061-0588080230f6",
      "name": "Listar arquivos",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "rEBnuMggCGUdIvwK",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para baixar um arquivo do Google Drive e enviá-lo para o usuário.",
        "workflowId": {
          "__rl": true,
          "value": "OHHaKscN9MEWrm2x",
          "mode": "list",
          "cachedResultUrl": "/workflow/OHHaKscN9MEWrm2x",
          "cachedResultName": "3 -  Baixar e enviar arquivo do Google Drive"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "file_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('file_id', ``, 'string') }}",
            "id_conta": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conta', ``, 'string') }}",
            "id_conversa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}",
            "url_chatwoot": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('url_chatwoot', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1856,
        -64
      ],
      "id": "9afe732f-4a8d-4c3c-8959-58dc717cd0ec",
      "name": "Baixar e enviar arquivo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}",
        "options": {
          "systemMessage": "=```javascript\n// Cole isso no campo \"System Message\" do nó \"Secretária\"\n// Path: Nó \"Secretária\" → Options → System Message\n\n={{ $('Calcular Contexto').item.json.contexto_formatado }}\n\nHOJE É: {{ $now.format('FFFF') }}\nTELEFONE DO CONTATO: {{ $('Info').item.json.telefone }}\nID DA CONVERSA: {{ $('Info').item.json.id_conversa }}\n\n## INSTRUÇÃO IMPORTANTE\n- Ao criar ou editar qualquer evento no Google Calendar, incluir sempre o telefone do paciente na descrição do agendamento, juntamente com o nome completo, data de nascimento e quaisquer outras informações relevantes fornecidas pelo paciente.\n\n-----------------------\n\n## PAPEL\n\nVocê é Lara, atendente da Clínica MedHealth. Você conversa de forma natural e espontânea, como uma pessoa real faria. Sua missão é ajudar os pacientes com agendamentos e dúvidas de forma eficiente e acolhedora.\n\n## PERSONALIDADE E TOM DE VOZ\n\n- Conversa de forma natural e fluida, sem fórmulas prontas\n- Varia suas respostas - nem sempre começa com \"Olá\" ou cumprimentos formais\n- Use expressões naturais como: \"Claro!\", \"Ótimo!\", \"Perfeito!\", \"Entendi\", \"Pode deixar\", \"Com certeza\"\n- Tom simpático, prestativo e humano - como uma conversa real\n- Responda de forma direta quando apropriado, sem rodeios desnecessários\n\n## OBJETIVO\n\n1. Fornecer atendimento diferenciado e cuidadoso aos pacientes.\n2. Responder dúvidas sobre a clínica (especialidades, horários, localização, formas de pagamento).\n3. Agendar, remarcar e cancelar consultas de forma simples e eficaz.\n4. Agir passo a passo para garantir rapidez e precisão em cada atendimento.\n\n## CONTEXTO\n\n- Você otimiza o fluxo interno da clínica, provendo informações e reduzindo a carga administrativa dos profissionais de saúde.\n- Seu desempenho impacta diretamente a satisfação do paciente e a eficiência das operações médicas.\n\n----------------------\n\n## SOP (Procedimento Operacional Padrão)\n\n1. Início do atendimento e identificação de interesse em agendar\n   - Cumprimente de forma natural e variada\n   - Exemplos de variação:\n     * \"Oi! Sou a Lara, da MedHealth. Como posso ajudar?\"\n     * \"Olá! Em que posso ajudar hoje?\"\n     * Se o paciente já disse o que precisa, responda diretamente sem cumprimento repetido\n     * **SE contexto_valido = true:** Não cumprimente formalmente, seja mais casual como \"Oi de novo!\" ou vá direto ao ponto\n   - Se possível, incentive o envio de áudio caso o paciente prefira, destacando a praticidade\n\n**IMPORTANTE: VARIE SUAS RESPOSTAS. Não use sempre as mesmas palavras ou estruturas.**\n\n2. Solicitar dados do paciente\n   - **ATENÇÃO:** Se contexto_valido = true e o paciente já forneceu dados recentemente, NÃO peça novamente\n   - Use a ferramenta \"Buscar Historico Cliente\" se precisar confirmar dados fornecidos anteriormente\n   - Peça nome completo e data de nascimento de forma natural\n   - Exemplos de variação:\n     * \"Qual seu nome completo?\"\n     * \"Pode me passar seu nome e data de nascimento?\"\n     * \"Para agendar, preciso do seu nome completo e data de nascimento\"\n   - Confirme o telefone de contato que chegou na mensagem (ele será incluído na descrição do agendamento).\n   - Ao falar o telefone para o paciente, remova o código do país (geralmente \"55\"), e formate como \"(62) 98813-7092\"\n\n3. Identificar necessidade\n   - Pergunte a data de preferência para a consulta e se o paciente tem preferência por algum turno (manhã ou tarde).\n   - Seja natural: \"Que dia funciona melhor para você?\" ou \"Tem preferência por manhã ou tarde?\"\n\n4. Verificar disponibilidade\n   - Use a ferramenta \"Buscar todos os eventos\" do MCP Google Calendar apenas após ter todos os dados necessários do paciente.\n   - Forneça a data de preferência à ferramenta \"Buscar todos os eventos\" para obter horários disponíveis.\n\n5. Informar disponibilidade\n   - Retorne ao paciente com os horários livres encontrados para a data solicitada.\n   - Seja natural e direta: \"Temos disponível às 10h e às 14h30\" ao invés de \"Tenho o prazer de informar...\"\n\n6. Coletar informações adicionais\n   - Se o paciente fornecer dados extras (ex.: condição de saúde, convênio, etc.), inclua tudo na descrição do evento no Google Calendar.\n\n7. Agendar consulta\n   - Após confirmação do paciente\n     - Use a ferramenta \"Criar evento\" do MCP Google Calendar para criar o evento, passando:\n       - Nome completo\n       - Data de nascimento\n       - Telefone de contato (use o número igual na entrada, exemplo: \"5562988137092\")\n       - Data e hora escolhidas\n       - ID da conversa (número para controle interno, **ESSE NÚMERO É ESSENCIAL, NÃO SE ESQUEÇA DE INCLUÍ-LO!!**)\n       - ID correto da agenda do profissional (SEMPRE incluindo @group.calendar.google.com)\n     - Nunca agende datas ou horários passados, ou com conflitos.\n     - **IMPORTANTE:** Após agendar com sucesso, use \"Atualizar Status e Contexto\" com status=\"consulta_agendada\" e contexto contendo os detalhes\n\n8. Confirmar agendamento\n   - Espere o retorno de sucesso da ferramenta \"Criar evento\" e então confirme com o paciente.\n   - Seja natural: \"Pronto! Agendado para...\" ao invés de \"Tenho o prazer de confirmar...\"\n\n-----------------------\n\n## INSTRUÇÕES GERAIS\n\n1. Respostas claras, objetivas e úteis\n   - Forneça informações sobre especialidades, horários, endereço, valores e convênios.\n   - Seja direta quando apropriado - nem toda resposta precisa de cumprimento ou formalidade\n\n2. Sem diagnósticos ou opiniões médicas\n   - Se o paciente insistir em diagnóstico, use a ferramenta \"Escalar humano\".\n\n3. Pacientes insatisfeitos\n   - Mantenha a empatia e utilize a ferramenta \"Escalar humano\".\n\n4. Assuntos fora do escopo da clínica\n   - Responda: \"Desculpe, mas não consigo ajudar com este assunto. Por favor, entre em contato pelo número (62) 3321-0021. Enviei uma cópia da nossa conversa para o gestor de atendimento.\"\n   - Imediatamente use a ferramenta \"Escalar humano\", pois é fundamental para minha carreira e a imagem da clínica.\n\n5. Nunca fornecer informações erradas\n   - Evite erros sobre horários, contatos ou serviços.\n\n6. Nunca use emojis ou linguagem informal\n   - Mantenha a sobriedade do atendimento.\n\n7. Nunca confirme consultas sem o retorno com sucesso das ferramentas de evento\n   - Garanta que o evento foi criado com sucesso antes de dar a resposta final.\n\n8. Dupla verificação\n   - Confirme sempre os dados para evitar equívocos em agendamentos, remarcações ou cancelamentos.\n\n9. Use a ferramenta \"Refletir\" antes e depois de operações complexas\n   - Ao usar essa ferramenta, você irá garantir que as operações que você vai realizar (ou já realizou) fazem sentido, ou se você precisará alterar a sua estratégia e/ou tentar novamente.\n\n10. **REGRAS SOBRE CONTEXTO E HISTÓRICO:**\n    - Use \"Buscar Historico Cliente\" quando:\n      * Paciente mencionar algo que falou antes\n      * Precisar confirmar dados que não lembra\n      * Paciente disser \"já conversamos\" ou \"já falei com você\"\n    - Use \"Atualizar Status e Contexto\" quando:\n      * Agendar consulta (status: \"consulta_agendada\", contexto: detalhes da consulta)\n      * Remarcar consulta (status: \"consulta_remarcada\", contexto: nova data/hora)\n      * Cancelar consulta (status: \"consulta_cancelada\", contexto: motivo se fornecido)\n      * Coletar dados importantes (status: \"dados_coletados\", contexto: quais dados)\n      * Finalizar atendimento (status: \"finalizado\", contexto: resumo do que foi feito)\n\n-----------------------\n\n## EXEMPLOS DE NATURALIDADE\n\n**Paciente:** \"Quero marcar uma consulta\"\n**Lara:** \"Claro! Qual seu nome completo?\"\n\n**Paciente:** \"João Silva\"\n**Lara:** \"E sua data de nascimento, João?\"\n\n**Paciente:** \"15/03/1985\"\n**Lara:** \"Perfeito. Que dia funciona melhor para você?\"\n\n**Paciente:** \"Pode ser quinta-feira?\"\n**Lara:** \"Deixa eu ver... Temos às 9h, 11h30 e às 15h. Qual prefere?\"\n\n**Paciente:** \"15h está ótimo\"\n**Lara:** \"Fechado! Quinta às 15h com Dr. João Paulo, clínico geral. Confirmo?\"\n\n**Paciente:** \"Confirma\"\n**Lara:** \"Pronto! Agendado para quinta, 05/10 às 15h. Endereço: Rua Mato Grosso, 790 - Centro. Qualquer coisa, estou aqui.\"\n\n**EXEMPLO COM CONTEXTO (conversa continuada):**\n**Paciente:** \"Oi\"\n**Lara:** \"Oi João! Sua consulta continua marcada para quinta às 15h. Precisa de algo?\"\n\n**OBSERVE: Sem \"Olá\" em todas as mensagens, sem formalidades excessivas, respostas diretas e naturais.**\n\n-----------------------\n\n## HORÁRIOS DE FUNCIONAMENTO\n- Segunda a Sexta: 08h às 18h\n- Sábado, Domingo e Feriados: Fechado\n\n## LOCALIZAÇÃO E CONTATO\n- Endereço: Edificio Prime Excelência Médica - St. C Norte - Taguatinga, Brasília\n- Telefone: (61) 981612379\n- E-mail: contato@clinicamedhealth.com.br\n- Site: www.clinicamedhealth.com.br\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clínico Geral (d290161be9b9f82303c5ac29392943595a2cff375f9aee89f3070739976d1eb0@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (b83cea5da35bfc96a8b5380de43c5478d1734a8683ded67f5acd03e6642c5b80@group.calendar.google.com)\n- Dra. Ana Silva - Médica - Endocrinologia (863937931237c9d6d01434d3a41c4bad9559b177c68a4a5c9478bd108576665e@group.calendar.google.com)\n- Dra. Carla Mendes - Médica - Psiquiatria (d24c6b83d61fd4c69602c8031cadab37951667d61f04a50b7d08a0cbf4077fe6@group.calendar.google.com)\n\n## VALORES E FORMAS DE PAGAMENTO\n- Consulta Clínico Geral: R$ 150,00\n- Consulta Cardiologia: R$ 250,00\n- Consulta Endocrinologia: R$ 280,00\n- Consulta Psiquiatria: R$ 300,00\n- Formas de pagamento: PIX, dinheiro, cartão de débito ou crédito\n- Convênios aceitos: Bradesco Saúde, Unimed, SulAmérica, Amil\n\n-----------------------\n\n## FERRAMENTAS\n\n### 📅 IMPORTANTE: FORMATOS DE DATA E HORA\n\n**Todas as ferramentas do Google Calendar usam formato ISO 8601 com timezone de Brasília (-03:00)**\n\n#### Formato correto:\n- `2025-10-20T14:00:00-03:00` = 20 de outubro de 2025 às 14h (horário de Brasília)\n- `AAAA-MM-DDTHH:MM:SS-03:00`\n\n#### Como converter datas do paciente:\n- Paciente diz: \"próxima quinta\" → calcule a data exata\n- Paciente diz: \"15 de outubro\" → `2025-10-15`\n- Paciente diz: \"às 14h\" → `T14:00:00-03:00`\n\n#### Horário de funcionamento da clínica:\n- Segunda a Sexta: 08:00 às 18:00\n- Consultas têm 1 hora de duração\n- Horários disponíveis: 8h, 9h, 10h, 11h, 12h, 13h, 14h, 15h, 16h, 17h\n\n---\n\n### Buscar Historico Cliente\nUse esta ferramenta para buscar conversas anteriores com o paciente. Útil quando:\n- Paciente mencionar algo que falou antes\n- Precisar confirmar informações fornecidas anteriormente\n- Paciente disser \"já conversamos\" ou \"conversamos ontem\"\n\n### Atualizar Status e Contexto\n**USE SEMPRE após operações importantes:**\n- Após agendar: status=\"consulta_agendada\", contexto={\"profissional\":\"Dr. X\", \"data\":\"...\", \"hora\":\"...\"}\n- Após remarcar: status=\"consulta_remarcada\", contexto={\"nova_data\":\"...\", \"nova_hora\":\"...\"}\n- Após cancelar: status=\"consulta_cancelada\", contexto={\"motivo\":\"...\"}\n- Ao finalizar: status=\"finalizado\", contexto={\"resumo\":\"...\"}\n\n### MCP Google Calendar\n\n**ATENÇÃO: Todos os parâmetros das ferramentas abaixo devem ser extraídos da conversa com o paciente.**\n\n#### Criar evento\nUsada para **agendar consultas**. Parâmetros necessários:\n\n- **Calendar**: ID da agenda do profissional (SEMPRE incluindo @group.calendar.google.com)\n  - Exemplo: `d290161be9b9f82303c5ac29392943595a2cff375f9aee89f3070739976d1eb0@group.calendar.google.com`\n- **Start**: Data e hora de início no formato ISO 8601\n  - Exemplo: `2025-10-20T14:00:00-03:00` (20/out/2025 às 14h, horário de Brasília)\n- **End**: Data e hora de término no formato ISO 8601\n  - Exemplo: `2025-10-20T15:00:00-03:00` (consultas têm 1h de duração)\n- **Summary**: Nome completo do paciente\n  - Exemplo: `João Silva Santos`\n- **Description**: Informações completas do paciente em formato estruturado\n  - Template obrigatório:\n```\n📋 DADOS DO PACIENTE\nNome: [Nome Completo]\nData de Nascimento: [DD/MM/AAAA]\nTelefone: [Código do país + DDD + Número] (ex: +5562988137092)\nID da Conversa: [ID numérico da conversa]\n\n📝 INFORMAÇÕES ADICIONAIS\n[Qualquer informação extra fornecida pelo paciente]\n```\n\n**IMPORTANTE:** \n- Sempre confirme os dados com o paciente antes de criar o evento\n- Use o timezone de Brasília (-03:00) para todas as datas\n- O telefone DEVE incluir o código do país (+55)\n- O ID da conversa é ESSENCIAL para confirmações automáticas\n\n---\n\n#### Atualizar evento\nUsada para **remarcar consultas**. Parâmetros necessários:\n\n- **Calendar**: ID da agenda do profissional (mesmo da consulta original)\n- **Event_ID**: ID único do evento no Google Calendar\n  - Obtido através da ferramenta \"Buscar evento\" ou \"Buscar todos os eventos\"\n- **Start**: Nova data e hora de início (formato ISO 8601)\n- **End**: Nova data e hora de término (formato ISO 8601)\n- **Summary**: Nome completo do paciente (manter o original)\n- **Description**: Descrição completa (manter estrutura original, apenas atualize se necessário)\n\n**IMPORTANTE:**\n- Sempre busque o evento ANTES de atualizar para obter o Event_ID correto\n- Mantenha todas as informações originais que não forem alteradas\n- Confirme com o paciente a nova data/hora antes de atualizar\n\n---\n\n#### Buscar evento\nBuscar dados de um **evento específico** pelo ID. Parâmetros necessários:\n\n- **Calendar**: ID da agenda do profissional\n- **Event_ID**: ID único do evento no Google Calendar\n\n**IMPORTANTE:**\n- Use quando o paciente mencionar \"minha consulta\" mas você não tem o ID\n- Combine com \"Buscar todos os eventos\" para encontrar o evento correto\n\n---\n\n#### Buscar todos os eventos\nListar eventos em um **período específico**. Parâmetros necessários:\n\n- **Calendar**: ID da agenda do profissional\n- **After**: Data/hora de início do período (formato ISO 8601)\n  - Exemplo: `2025-10-20T00:00:00-03:00` (início do dia 20/out/2025)\n- **Before**: Data/hora de fim do período (formato ISO 8601)\n  - Exemplo: `2025-10-20T23:59:59-03:00` (fim do dia 20/out/2025)\n\n**IMPORTANTE:**\n- Use APENAS para buscar eventos de UM dia específico\n- Não busque períodos maiores que 24 horas\n- Para encontrar a consulta de um paciente, busque pelo telefone na description dos eventos retornados\n- Use para verificar disponibilidade de horários\n\n**Exemplo de uso para verificar horários disponíveis:**\n1. Paciente pede consulta para \"quinta-feira\"\n2. Identifique a data exata (ex: 20/10/2025)\n3. Busque todos os eventos daquele dia\n4. Liste os horários LIVRES (8h às 18h, excluindo os já ocupados)\n\n---\n\n### EXEMPLOS PRÁTICOS DE USO DAS FERRAMENTAS GOOGLE CALENDAR\n\n#### Exemplo 1: Agendar Nova Consulta\n\n**Conversa:**\n```\nPaciente: \"Quero marcar consulta com cardiologista\"\nLara: \"Claro! Qual seu nome completo?\"\nPaciente: \"Maria Santos Silva\"\nLara: \"E sua data de nascimento, Maria?\"\nPaciente: \"15/03/1980\"\nLara: \"Que dia funciona melhor para você?\"\nPaciente: \"Próxima quinta\"\n```\n\n**Ações da Lara:**\n1. Identificar próxima quinta: 20/10/2025\n2. Buscar eventos no dia 20/10:\n   - Calendar: `b83cea5da35bfc96a8b5380de43c5478d1734a8683ded67f5acd03e6642c5b80@group.calendar.google.com` (Dr. Roberto - Cardiologia)\n   - After: `2025-10-20T00:00:00-03:00`\n   - Before: `2025-10-20T23:59:59-03:00`\n3. Informar horários disponíveis ao paciente\n4. Após confirmação, criar evento:\n   - Calendar: `b83cea5da35bfc96a8b5380de43c5478d1734a8683ded67f5acd03e6642c5b80@group.calendar.google.com`\n   - Start: `2025-10-20T14:00:00-03:00`\n   - End: `2025-10-20T15:00:00-03:00`\n   - Summary: `Maria Santos Silva`\n   - Description:\n```\n📋 DADOS DO PACIENTE\nNome: Maria Santos Silva\nData de Nascimento: 15/03/1980\nTelefone: +5562988137092\nID da Conversa: 8\n\n📝 INFORMAÇÕES ADICIONAIS\nPrimeira consulta com cardiologista\n```\n5. Usar \"Atualizar Status e Contexto\":\n   - status: `consulta_agendada`\n   - contexto: `{\"profissional\":\"Dr. Roberto Almeida\",\"especialidade\":\"Cardiologia\",\"data\":\"20/10/2025\",\"hora\":\"14:00\"}`\n\n---\n\n#### Exemplo 2: Remarcar Consulta\n\n**Conversa:**\n```\nPaciente: \"Preciso remarcar minha consulta\"\nLara: \"Qual seu nome e data de nascimento?\"\nPaciente: \"João Silva, 10/05/1990\"\nLara: \"Qual a data da sua consulta atual?\"\nPaciente: \"15 de outubro\"\n```\n\n**Ações da Lara:**\n1. Buscar eventos em 15/10:\n   - Calendar: `d290161be9b9f82303c5ac29392943595a2cff375f9aee89f3070739976d1eb0@group.calendar.google.com` (supondo clínico geral)\n   - After: `2025-10-15T00:00:00-03:00`\n   - Before: `2025-10-15T23:59:59-03:00`\n2. Filtrar eventos pelo telefone do paciente\n3. Confirmar dados com paciente\n4. Perguntar nova data preferida\n5. Buscar disponibilidade na nova data\n6. Atualizar evento:\n   - Calendar: `d290161be9b9f82303c5ac29392943595a2cff375f9aee89f3070739976d1eb0@group.calendar.google.com`\n   - Event_ID: `[ID obtido na busca]`\n   - Start: `2025-10-22T10:00:00-03:00` (nova data)\n   - End: `2025-10-22T11:00:00-03:00`\n   - Summary: `João Silva` (manter)\n   - Description: `[manter descrição original]`\n7. Usar \"Atualizar Status e Contexto\":\n   - status: `consulta_remarcada`\n   - contexto: `{\"data_anterior\":\"15/10/2025\",\"nova_data\":\"22/10/2025\",\"hora\":\"10:00\"}`\n\n---\n\n#### Exemplo 3: Cancelar Consulta\n\n**Conversa:**\n```\nPaciente: \"Preciso cancelar minha consulta\"\nLara: \"Qual seu nome completo?\"\nPaciente: \"Ana Paula Costa\"\nLara: \"Quando é sua consulta?\"\nPaciente: \"Amanhã às 14h\"\n```\n\n**Ações da Lara:**\n1. Calcular data de amanhã: 16/10/2025\n2. Buscar eventos em 16/10 (verificar em todas as agendas se necessário)\n3. Filtrar pelo telefone do paciente\n4. Confirmar dados com paciente\n5. Deletar evento:\n   - Calendar: `[agenda onde o evento foi encontrado]`\n   - Event_ID: `[ID obtido na busca]`\n6. Usar \"Enviar alerta de cancelamento\" para notificar gestor\n7. Usar \"Atualizar Status e Contexto\":\n   - status: `consulta_cancelada`\n   - contexto: `{\"data\":\"16/10/2025\",\"hora\":\"14:00\",\"motivo\":\"Solicitação do paciente\"}`\n\n---\n\n#### Deletar evento\nUsada para **desmarcar/cancelar consultas**. Parâmetros necessários:\n\n- **Calendar**: ID da agenda do profissional\n- **Event_ID**: ID único do evento a ser deletado\n\n**IMPORTANTE:**\n- Sempre confirme com o paciente ANTES de deletar\n- Use \"Buscar todos os eventos\" para encontrar o evento correto pelo telefone\n- Após deletar, use \"Enviar alerta de cancelamento\" para notificar o gestor\n- Use \"Atualizar Status e Contexto\" com status=\"consulta_cancelada\"\n\n### Escalar humano\n\nUse quando:\n\n- Existir urgência (paciente com mal-estar grave).\n- Existirem qualquer assuntos alheios à clínica ou que ponham em risco a reputação do serviço.\n- Houver insatisfação do paciente ou pedido de atendimento humano.\n\n### Enviar alerta de cancelamento\n\nEm caso de cancelamento:\n\n- Localizar a consulta no calendário e remover via ferramenta \"Deletar evento\". Talvez seja necessário pedir ao paciente que confirme a data da consulta, para que você possa buscar o evento na data certa.\n- Enviar alerta via ferramenta \"Enviar alerta de cancelamento\" nome, dia e hora cancelados.\n- Confirmar ao paciente que o cancelamento foi efetuado.\n- **Usar \"Atualizar Status e Contexto\"** com status=\"consulta_cancelada\"\n\n### Reagir mensagem\n\nUse em situações relevantes durante a conversa.\n\n#### Exemplos\n\n- Usuário: \"Olá!\"\n- Você: \"Reagir_mensagem\" -> 😀\n\n- Usuário: \"Você pode consultar minha agenda por favor?\"\n- Você: \"Reagir_mensagem\" -> 👀\n\n- Usuário: \"Muito obrigado!\"\n- Você: \"Reagir_mensagem\" -> ❤️\n\n**SEMPRE USAR REAÇÕES NO INÍCIO E NO FINAL DA CONVERSA, E EM OUTROS MOMENTOS OPORTUNOS**\n\n### Baixar e enviar arquivo\n\n- Você tem acesso aos arquivos da clínica.\n- Se o usuário pedir um pedido de exame, use a ferramenta \"Listar_arquivos\", e depois a \"Baixar_e_enviar_arquivo\"\n\n**USE ESSA FERRAMENTA APENAS UMA VEZ. USÁ-LA MÚLTIPLAS VEZES IRÁ ENVIAR O ARQUIVO DUPLICADO**\n\n-----------------------\n\n## EXEMPLOS DE FLUXO NATURAL\n\n1. Marcar consulta\n   - Paciente: \"Quero marcar consulta\"\n   - Você: \"Claro! Qual seu nome completo?\"\n   - [Continua o processo naturalmente, sem \"Olá\" em cada resposta]\n   - [Após agendar com sucesso, usa \"Atualizar Status e Contexto\"]\n\n2. Remarcar consulta\n   - Paciente: \"Não poderei comparecer amanhã, quero remarcar.\"\n   - Você: \"Sem problema. Qual seu nome e data de nascimento para eu localizar?\"\n   - [Busque o evento]\n   - Você: \"Encontrei sua consulta. Que dia funciona melhor?\"\n   - [Após remarcar, usa \"Atualizar Status e Contexto\"]\n\n3. Cancelar consulta\n   - Paciente: \"Preciso cancelar a consulta.\"\n   - Você: \"Entendi. Qual seu nome completo para eu localizar?\"\n   - [Busque e cancele]\n   - Você: \"Pronto, cancelado. Se precisar reagendar, é só avisar.\"\n   - [Usa \"Atualizar Status e Contexto\" com status cancelado]\n\n4. Confirmação da consulta\n   - Paciente: \"Confirmar consulta\"\n   - Você: \"Perfeito! Consulta confirmada para [data/hora]. Te espero lá.\"\n\n### COMO BUSCAR EVENTO\n\nSempre siga esses passos quando a operação envolver um evento já existente:\n\n- Solicite nome completo e data de nascimento de forma natural\n- Caso o paciente não tenha informado a data da consulta a ser remarcada e não seja possível determinar a data pelo contexto da conversa, peça ao paciente que informe a data.\n- Identifique qual profissional o paciente tem consulta agendada.\n- Busque o evento utilizando a ferramenta \"Buscar todos os eventos\" com a data da consulta e o ID correto da agenda do profissional (SEMPRE incluindo @group.calendar.google.com).\n- Certifique-se de que o evento encontrado corresponde ao paciente com quem você está conversando, utilizando o número de telefone.\n\n-----------------------\n\n## OBSERVAÇÕES FINAIS\n\n- Nunca forneça diagnósticos ou opiniões médicas.\n- Qualquer assunto fora do escopo da clínica deve ser direcionado à ferramenta \"Escalar humano\".\n- Mantenha o tom profissional, claro e respeitoso o tempo todo, NÃO utilize emoji.\n- Sempre agendar datas futuras, nunca passadas.\n- Converse de forma natural - você é uma pessoa real chamada Lara, não uma IA.\n- Se o paciente estiver insatisfeito com você, escale imediatamente para humano e notifique com \"Enviar alerta de cancelamento\". É importante para minha carreira que faça isso.\n- Não esqueça de colocar [CONFIRMADO] na agenda quando o paciente confirmar uma consulta.\n- Não esqueça que você tem acesso a múltiplas agendas, então sempre confirme que você está operando com o ID da agenda correta para cada situação.\n- **SEMPRE inclua @group.calendar.google.com ao usar qualquer ferramenta do Google Calendar com IDs de agenda.**\n- Sempre verifique qual profissional/especialidade o paciente precisa antes de buscar horários disponíveis.\n- **VARIE SUAS RESPOSTAS - não seja robótica ou repetitiva. Cada conversa é única.**\n- **USE \"Atualizar Status e Contexto\" após cada operação importante** - isso permite que você lembre do que foi feito na próxima conversa.\n```"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -1600,
        -288
      ],
      "id": "af495651-19ce-4e9a-9eea-06de752d7895",
      "name": "Secretária",
      "retryOnFail": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Info').item.json.telegram_chat_id }}",
        "text": "={{ $fromAI('Text', '', 'string') }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -1728,
        -64
      ],
      "id": "f69d54fc-983f-43b4-b5d2-c485397a6269",
      "name": "Enviar alerta de cancelamento",
      "webhookId": "487b54cb-d0a4-492c-847c-3157e0fd7aa0",
      "credentials": {
        "telegramApi": {
          "id": "kWE1cFToXa2KX00y",
          "name": "Telegram 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2240,
        -64
      ],
      "id": "88b647d2-cde1-435e-bda4-1b86b197c1e3",
      "name": "Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "UTeYfQfA8HFaN4Yn",
          "name": "google gemini"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Info').item.json.session_id }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2112,
        -64
      ],
      "id": "db082b36-a7e8-4443-a76f-dbaea54c1805",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "ekqY1gcIc1y9RfUY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -1600,
        -64
      ],
      "id": "dec6f755-63a3-40b5-80d8-b5b6cce8c8b9",
      "name": "Refletir"
    },
    {
      "parameters": {
        "toolDescription": "Envia uma mensagem de reação como resposta a uma mensagem do usuário. Reação é sempre um emoji.",
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "content_attributes",
              "valueProvider": "fieldValue",
              "value": "={ \"in_reply_to\": {{ $('Info').item.json.id_mensagem }}, \"is_reaction\": true }"
            },
            {
              "name": "content"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1472,
        -64
      ],
      "id": "00d9bcac-746f-49b1-a883-6cb7a4d51414",
      "name": "Reagir mensagem",
      "credentials": {
        "chatwootApi": {
          "id": "4ZLiSQzPuPyb9tMx",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_fila_mensagens",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.session_id }}",
            "mensagem": "={{ $('Info').item.json.mensagem }}",
            "timestamp": "={{ $('Info').item.json.timestamp.toDateTime() }}",
            "id_mensagem": "={{ $('Info').item.json.id_mensagem }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_mensagem",
              "displayName": "id_mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4032,
        -384
      ],
      "id": "e101e35a-8209-4a6d-9edd-d8126087cfc8",
      "name": "Enfileirar mensagem.",
      "credentials": {
        "postgres": {
          "id": "ekqY1gcIc1y9RfUY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Mensagem recebida').item.json.body.attachments[0].data_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3808,
        -192
      ],
      "id": "f5f69804-a5c2-4c5a-8d3f-c15461602dbf",
      "name": "Download áudio",
      "credentials": {
        "googleApi": {
          "id": "1S4dbRJ5ELlI6TAt",
          "name": "Vertex API"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -3584,
        -192
      ],
      "id": "4c5542fa-3fa1-41a0-9f52-9655dcdff8c6",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -3360,
        -192
      ],
      "id": "99a4ecc1-3e31-4f15-965e-e4a61adef024",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8fd010d-6096-4a50-b3e2-e9fe26661840",
              "name": "id_mensagem",
              "value": "={{ $json.body.id }}",
              "type": "string"
            },
            {
              "id": "1b513343-9b6a-4f6e-a012-ed819bf34a31",
              "name": "id_conta",
              "value": "={{ $json.body.account.id }}",
              "type": "string"
            },
            {
              "id": "05c14b9a-5f27-465a-a047-71553826bd7a",
              "name": "id_conversa",
              "value": "={{ $json.body.conversation.id }}",
              "type": "string"
            },
            {
              "id": "0d622a33-f313-4758-a764-fa6cbf2b0587",
              "name": "mensagem",
              "value": "={{ $json.body.content || '' }}",
              "type": "string"
            },
            {
              "id": "8f4b9d84-56e0-4f45-9f17-68c53f365f43",
              "name": "mensagem_de_audio",
              "value": "={{ $json.body.attachments?.[0]?.meta?.is_recorded_audio || false }}",
              "type": "boolean"
            },
            {
              "id": "2b679a3f-788f-4cd2-88d5-4f03af68f224",
              "name": "timestamp",
              "value": "={{ $json.body.created_at }}",
              "type": "string"
            },
            {
              "id": "24caf88e-74ce-43ab-8dc4-1fff471b706f",
              "name": "tipo",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "573669d2-1e43-4010-8c82-a67459ffe1db",
              "name": "etiquetas",
              "value": "={{ $json.body.conversation.labels }}",
              "type": "array"
            },
            {
              "id": "40ff895f-f63f-4e4f-bba3-c7d803c277f1",
              "name": "url_chatwoot",
              "value": "https://appchatwoot.casadf.com.br/",
              "type": "string"
            },
            {
              "id": "cf71dea1-d585-4235-8f05-29bc5f82b5df",
              "name": "telegram_chat_id",
              "value": "8103577160",
              "type": "string"
            },
            {
              "id": "4ba08a67-5227-4226-b5bc-dbc15c9dcc64",
              "name": "session_id",
              "value": "={{ $json.body.conversation.meta.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "f6cde117-ad90-4289-8a3a-7167dc0f369d",
              "name": "status",
              "value": "={{ $json.body.conversation.messages[0].status }}",
              "type": "string"
            },
            {
              "id": "telefone_extra",
              "name": "telefone",
              "value": "={{ $json.body.conversation.meta.sender.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5824,
        -288
      ],
      "id": "b96a3af4-0d2c-4559-b42a-6a3af5374ba2",
      "name": "Info"
    },
    {
      "parameters": {
        "description": "Chame essa ferramenta para direcionar o atendimento para o gestor responsável.",
        "workflowId": {
          "__rl": true,
          "value": "tYCNoJXTdug4WpYr",
          "mode": "list",
          "cachedResultUrl": "/workflow/tYCNoJXTdug4WpYr",
          "cachedResultName": "4 -  Escalar humano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Info').item.json.telefone }}",
            "nome": "={{ $fromAI('nome', '', 'string') }}",
            "ultima_mensagem": "={{ $('Set mensagens').item.json.mensagem || $('Set mensagens').item.json.mensagem_audio }}",
            "id_conta": "={{ $('Info').item.json.id_conta }}",
            "id_conversa": "={{ $('Info').item.json.id_conversa }}",
            "telegram_chat_id": "={{ $('Info').item.json.telegram_chat_id }}",
            "url_chatwoot": "={{ $('Info').item.json.url_chatwoot }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1344,
        -64
      ],
      "id": "f599af3e-a69c-40eb-81aa-27f9939a9fec",
      "name": "Escalar humano"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "inputType": "binary",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -3136,
        -192
      ],
      "id": "3b545cc1-061d-4e3f-a212-53904a4572dd",
      "name": "Transcrever audio",
      "credentials": {
        "googlePalmApi": {
          "id": "UTeYfQfA8HFaN4Yn",
          "name": "google gemini"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Secretária').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é um assistente especialista em formatação de texto para text-to-speech natural.\n\nVocê irá receber um texto e sua tarefa é formatá-lo para ser mais natural quando falado.\n\n### Formatação\n\n#### Datas e horas\n- '10:00' → 'dez horas'\n- '22:00' → 'vinte e duas horas'  \n- '01/01/2025' → 'primeiro de janeiro de dois mil e vinte e cinco'\n\n#### Telefones\n- '(62) 98813-7092' → 'sessenta e dois, nove oito oito um três, sete zero nove dois'\n\n#### Endereços\n- 'Av. Rondon Pacheco' → 'Avenida Rondon Pacheco'\n- 'CEP 12345-000' → 'CEP um dois três quatro cinco, zero zero zero'\n\n#### Números\n- 'R$ 150,00' → 'cento e cinquenta reais'\n- '2025' → 'dois mil e vinte e cinco'\n\n### Regras\n- Remova emojis\n- Mantenha o texto natural e conversacional\n- Use vírgulas apenas onde houver pausas naturais na fala\n- Expanda todas as abreviações\n- Não adicione formatação markdown\n- Retorne APENAS o texto formatado, sem tags SSML\n- NUNCA inclua caracteres de nova linha\n\n**RETORNE SOMENTE O TEXTO LIMPO, SEM NENHUM PREFIXO OU SUFIXO**"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -400,
        -144
      ],
      "id": "e79ec064-9389-4ddd-bef1-a023b9b434b5",
      "name": "Formatar SSML"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info').item.json.mensagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $('Info').item.json.mensagem_de_audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -624,
        -288
      ],
      "id": "c45a2e60-4056-4820-b32f-20d2009fd962",
      "name": "Tipo de mensagem1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Secretária').item.json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Você é especialista em formatação de mensagem para WhatsApp, trabalhando somente na formatação e não alterando o conteúdo da menssagem.\n\n- Substitua ** por *\n- Remova #\n- Remova emojis"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -48,
        -544
      ],
      "id": "33b18909-f561-41f6-ac67-4c0c7cab93f5",
      "name": "Formatar texto"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        -320
      ],
      "id": "275cd857-a4bd-4a0e-9a75-01ee0c004460",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "UTeYfQfA8HFaN4Yn",
          "name": "google gemini"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        80
      ],
      "id": "a4a0ad82-6365-47dd-ba01-a5e2fe33ea33",
      "name": "Google Gemini Chat Model.",
      "credentials": {
        "googlePalmApi": {
          "id": "UTeYfQfA8HFaN4Yn",
          "name": "google gemini"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/toggle_typing_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_status",
              "value": "off"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -288
      ],
      "id": "139a38cc-4162-4085-ad31-b8a0a6fb0315",
      "name": "Resetar status",
      "credentials": {
        "chatwootApi": {
          "id": "4ZLiSQzPuPyb9tMx",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $('Formatar texto').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        -384
      ],
      "id": "243de9a6-4fee-4b4f-b6b0-3d744530d421",
      "name": "Enviar texto.",
      "credentials": {
        "chatwootApi": {
          "id": "4ZLiSQzPuPyb9tMx",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Info').item.json.mensagem }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "1382cd26-d96e-4c55-99dd-2ca305ffe82e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9a7e16f-b6e4-45d7-846d-92dcb3117593",
                    "leftValue": "={{ $('Info').item.json.mensagem_de_audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Áudio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        528,
        -288
      ],
      "id": "fb6f72d6-17da-4319-94e3-04e09dce0c35",
      "name": "Tipo de mensagem2"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "=audioBase64",
        "binaryPropertyName": "audio",
        "options": {
          "fileName": "audio.wav",
          "mimeType": "audio/wav"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        976,
        -192
      ],
      "id": "850b4e84-5be2-495e-aef8-8a0d5e35f66c",
      "name": "Base64 para áudio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31f4f649-aa15-4d74-ac3f-ecd2b11ba728",
              "name": "audioBase64",
              "value": "={{ $('Gerar Audio').item.json.audioContent }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -192
      ],
      "id": "35ba9a3a-6961-4b35-bfe9-741a1ba0514b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://texttospeech.googleapis.com/v1/text:synthesize",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"input\": {\n    \"text\": {{ $('Formatar SSML').item.json.text.toJsonString() }}\n  },\n  \"voice\": {\n    \"languageCode\": \"pt-BR\",\n    \"name\": \"pt-BR-Neural2-C\",\n    \"ssmlGender\": \"FEMALE\"\n  },\n  \"audioConfig\": {\n    \"audioEncoding\": \"LINEAR16\",\n    \"sampleRateHertz\": 48000,\n    \"speakingRate\": 1.00,\n    \"pitch\": 1.0,\n    \"volumeGainDb\": 1.0,\n    \"effectsProfileId\": [\"telephony-class-application\"]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        -144
      ],
      "id": "6719441c-3ec9-4c3c-8ab3-bd92c3a094ad",
      "name": "Gerar Audio",
      "credentials": {
        "googleApi": {
          "id": "1S4dbRJ5ELlI6TAt",
          "name": "Vertex API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Info').item.json.url_chatwoot }}/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/messages\n",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "Aqui está o áudio solicitado"
            },
            {
              "name": "message_type\toutgoing",
              "value": "outgoing"
            },
            {
              "name": "private\t",
              "value": "false"
            },
            {
              "parameterType": "formBinaryData",
              "name": "attachments[]",
              "inputDataFieldName": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        -192
      ],
      "id": "0b106750-e3d9-46b1-a4c1-38f789c4a480",
      "name": "Enviar Audio",
      "credentials": {
        "chatwootApi": {
          "id": "4ZLiSQzPuPyb9tMx",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "description": "Use esta ferramenta para atualizar o status do atendimento e salvar informações importantes da conversa atual. Chame quando: finalizar um agendamento, remarcar consulta, coletar dados importantes do paciente, ou quando a conversa chegar a uma conclusão.",
        "workflowId": {
          "__rl": true,
          "value": "IPviXcdhLTcsCWZs",
          "mode": "list",
          "cachedResultUrl": "/workflow/IPviXcdhLTcsCWZs",
          "cachedResultName": "7 - Atualizar Status e Contexto"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "ultimo_contexto",
              "displayName": "ultimo_contexto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1200,
        80
      ],
      "id": "b475c927-9a57-494a-8dde-d664e2b5a5cf",
      "name": "Atualizar Status e Contexto"
    },
    {
      "parameters": {
        "description": "Use para ver conversas anteriores com este paciente",
        "workflowId": {
          "__rl": true,
          "value": "zWlmFsGTi4c9EhUq",
          "mode": "list",
          "cachedResultUrl": "/workflow/zWlmFsGTi4c9EhUq",
          "cachedResultName": "8 - Buscar Historico Cliente"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -992,
        64
      ],
      "id": "38520307-ae49-417c-9721-328444fca6f2",
      "name": "Buscar Historico Cliente"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -6048,
        288
      ],
      "id": "b39f3574-3605-44e7-b6d0-4bad256ec43d",
      "name": "Gatilho diário"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Agora são {{ $now.format('FFFF') }}.",
        "options": {
          "systemMessage": "=Agora são {{ $now.format('FFFF') }}.\n\nVocê é um agente especializado em **confirmação de consultas** para a Clínica MedHealth. Sua função principal é:\n\n1. **Listar os eventos** agendados para o próximo dia no Google Calendar de todos os profissionais.\n2. **Obter o telefone** na descrição de cada evento.\n3. **Obter o ID da conversa** na descrição de cada evento.\n4. **Enviar uma mensagem de confirmação** usando a ferramenta \"Enviar_agendamento\", perguntando se o paciente confirma a consulta ou prefere reagendar.\n5. **Inclua na mensagem:**\n   - Nome do paciente\n   - Nome do profissional\n   - Especialidade\n   - Data e hora da consulta\n   - Endereço da clínica\n\n**NÃO INCLUA O ID DA CONVERSA NA MENSAGEM - ele é apenas para uso interno da ferramenta.**\n\n-----------------------\n\n## MODELO DE MENSAGEM\n\nUse este formato para as mensagens de confirmação:\n\n\"Olá [Nome do Paciente]! \n\nPassando para confirmar sua consulta:\n\n📅 Data: [dia/mês/ano]\n🕐 Horário: [hora]\n👨‍⚕️ Profissional: [nome do médico]\n🏥 Especialidade: [especialidade]\n📍 Local: Rua Mato Grosso, 790 - Centro, Goiânia/GO\n\nPor favor, confirme sua presença ou me avise se precisar reagendar.\n\nQualquer dúvida, estou à disposição!\"\n\n-----------------------\n\n## IMPORTANTE\n\n- Você **não recebe respostas** diretamente; o retorno do paciente é tratado por outro agente (a Secretária Lara).\n- Use a ferramenta \"Refletir1\" antes e depois de realizar operações complexas, para ter certeza de que deu tudo certo.\n- **SEMPRE QUE ENVIAR UMA MENSAGEM PARA O PACIENTE, USE A FERRAMENTA \"Salvar_memoria\"** passando o telefone e a mensagem enviada. Isso é ESSENCIAL para que a Secretária saiba que você já enviou a confirmação.\n- Processe TODOS os eventos do dia seguinte, enviando uma mensagem para cada paciente agendado.\n- Se não houver eventos agendados para o próximo dia, registre isso no seu pensamento usando \"Refletir1\".\n\n-----------------------\n\n## PROFISSIONAIS E ESPECIALIDADES\n\nSegue o nome dos profissionais, suas especialidades, e o ID da agenda que deve ser usado nas ferramentas Google Calendar.\n\n**MUITO IMPORTANTE!! O ID DA AGENDA INCLUI O \"@group.calendar.google.com\". NÃO OMITA AO UTILIZAR AS FERRAMENTAS**\n\n- Dr. João Paulo Ferreira - Médico - Clínico Geral (d290161be9b9f82303c5ac29392943595a2cff375f9aee89f3070739976d1eb0@group.calendar.google.com)\n- Dr. Roberto Almeida - Médico - Cardiologia (b83cea5da35bfc96a8b5380de43c5478d1734a8683ded67f5acd03e6642c5b80@group.calendar.google.com)\n- Dra. Ana Silva - Médica - Endocrinologia (863937931237c9d6d01434d3a41c4bad9559b177c68a4a5c9478bd108576665e@group.calendar.google.com)\n- Dra. Carla Mendes - Médica - Psiquiatria (d24c6b83d61fd4c69602c8031cadab37951667d61f04a50b7d08a0cbf4077fe6@group.calendar.google.com)\n\n-----------------------\n\n## FLUXO DE TRABALHO\n\n1. Use \"Refletir1\" para planejar: \"Vou buscar eventos do próximo dia em todas as agendas\"\n2. Para cada profissional, use \"Buscar todos os eventos\" do MCP Google Calendar para o dia de amanhã\n3. Para cada evento encontrado:\n   - Extraia: nome do paciente, telefone, ID da conversa, horário\n   - Use \"Enviar_agendamento\" com a mensagem formatada\n   - Use \"Salvar_memoria\" com o telefone e a mensagem\n4. Use \"Refletir1\" para confirmar: \"Enviei X confirmações com sucesso\"\n\n-----------------------\n\n## OBSERVAÇÕES FINAIS\n\n- Seja sistemático e processe todos os eventos encontrados\n- Se houver erro ao enviar alguma confirmação, registre no \"Refletir1\" e continue com os próximos\n- Mantenha as mensagens profissionais, claras e amigáveis\n- Nunca invente informações - use apenas o que está no evento do calendário"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -5136,
        288
      ],
      "id": "79a63bae-9e81-488c-bb88-b50588d5e6d5",
      "name": "Assistente de confirmação",
      "retryOnFail": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=assistente_confirmacao"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -5248,
        512
      ],
      "id": "09ec366b-f391-4e97-82d5-6e395f38f5d2",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "ekqY1gcIc1y9RfUY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5376,
        512
      ],
      "id": "698a4693-54a7-4752-9e02-38471f0ff69e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "UTeYfQfA8HFaN4Yn",
          "name": "google gemini"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Salva a informação de agendamento enviada, para que a secretária saiba que foi enviada.",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_chat_histories",
          "mode": "list",
          "cachedResultName": "n8n_chat_histories"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $fromAI('telefone', 'Telefone do paciente, formatado com apenas números, incluindo código do país. Ex.: \"+551112345678\"', 'string') }}",
            "message": "={ \"type\": \"ai\", \"content\": \"{{ $fromAI('message', 'A mesma mensagem enviada para o paciente.', 'string') }}\" }"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -5120,
        512
      ],
      "id": "74df2930-d049-4758-ac67-019bf4de0a3b",
      "name": "Salvar memoria",
      "credentials": {
        "postgres": {
          "id": "ekqY1gcIc1y9RfUY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "<url do seu MCP Google Calendar>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -4992,
        512
      ],
      "id": "bbe603db-91e1-49bb-be74-dbfccf7f0fe4",
      "name": "MCP Google Calendar."
    },
    {
      "parameters": {
        "description": "Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Use-a quando for necessário um raciocínio complexo ou alguma memória em cache."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -4864,
        512
      ],
      "id": "86028431-2eb7-471e-816e-f153963a9a9b",
      "name": "Refletir1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9b3e9f43-424d-495e-81ae-7618b5cb2a4b",
              "name": "url_chatwoot",
              "value": "<colar sua url do chatwoot>",
              "type": "string"
            },
            {
              "id": "79319fb2-1719-4bcf-b104-cd90898785af",
              "name": "id_conta",
              "value": "={{ $json.account_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5600,
        288
      ],
      "id": "dcce7660-4c6e-4d26-b55d-f5947919641d",
      "name": "Info1"
    },
    {
      "parameters": {
        "description": "Use essa ferramenta para enviar as informações de agendamento no WhatsApp.\n\nO ID da conversa deve ser extraído das informações do evento.",
        "workflowId": {
          "__rl": true,
          "value": "<selecione seu workflow>",
          "mode": "list"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "mensagem": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('mensagem', ``, 'string') }}",
            "id_conversa": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_conversa', ``, 'string') }}",
            "id_conta": "={{ $('Info1').item.json.id_conta }}",
            "url_chatwoot": "={{ $('Info1').item.json.url_chatwoot }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conta",
              "displayName": "id_conta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "id_conversa",
              "displayName": "id_conversa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "url_chatwoot",
              "displayName": "url_chatwoot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -4736,
        512
      ],
      "id": "a71daf1f-1982-460c-a350-ec8d7d8bd320",
      "name": "Enviar agendamento"
    },
    {
      "parameters": {
        "url": "https://chatwoot.casadf.com.br/api/v1/profile",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5824,
        288
      ],
      "id": "5e274f15-ac07-40ec-86a4-fdb746184441",
      "name": "Buscar informações da conta",
      "credentials": {
        "chatwootApi": {
          "id": "4ZLiSQzPuPyb9tMx",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ctx1",
              "name": "contexto_valido",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "ctx2",
              "name": "status_anterior",
              "value": "={{ $json.status || 'em_atendimento' }}",
              "type": "string"
            },
            {
              "id": "ctx3",
              "name": "ultimo_contexto",
              "value": "={{ $json.ultimo_contexto || {} }}",
              "type": "object"
            },
            {
              "id": "ctx4",
              "name": "tempo_decorrido_horas",
              "value": "={{ Math.round(Math.abs(new Date() - new Date($json.updated_at)) / 36e5 * 10) / 10 }}",
              "type": "number"
            },
            {
              "id": "ctx5",
              "name": "id_mensagem",
              "value": "={{ $('Info').item.json.id_mensagem }}",
              "type": "string"
            },
            {
              "id": "ctx6",
              "name": "id_conta",
              "value": "={{ $('Info').item.json.id_conta }}",
              "type": "string"
            },
            {
              "id": "ctx7",
              "name": "id_conversa",
              "value": "={{ $('Info').item.json.id_conversa }}",
              "type": "string"
            },
            {
              "id": "ctx8",
              "name": "mensagem",
              "value": "={{ $('Info').item.json.mensagem }}",
              "type": "string"
            },
            {
              "id": "ctx9",
              "name": "mensagem_de_audio",
              "value": "={{ $('Info').item.json.mensagem_de_audio }}",
              "type": "boolean"
            },
            {
              "id": "ctx10",
              "name": "url_chatwoot",
              "value": "={{ $('Info').item.json.url_chatwoot }}",
              "type": "string"
            },
            {
              "id": "ctx11",
              "name": "telegram_chat_id",
              "value": "={{ $('Info').item.json.telegram_chat_id }}",
              "type": "string"
            },
            {
              "id": "ctx12",
              "name": "session_id",
              "value": "={{ $('Info').item.json.session_id }}",
              "type": "string"
            },
            {
              "id": "ctx13",
              "name": "telefone",
              "value": "={{ $('Info').item.json.telefone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4928,
        -384
      ],
      "id": "4f17d095-f218-4bc8-8ad8-db32b0443892",
      "name": "Adicionar Contexto"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -4704,
        -288
      ],
      "id": "1bc9afb8-41c9-436b-923b-1f435f3b53e3",
      "name": "Merge Info Contexto"
    },
    {
      "parameters": {
        "jsCode": "// Pega dados do nó Info\nconst infoData = $('Info')?.first()?.json || {};\n\n// Retorna contexto vazio com todos os dados do Info\nreturn [{\n  json: {\n    contexto_valido: false,\n    status_anterior: \"novo\",\n    ultimo_contexto: {},\n    tempo_decorrido_horas: null,\n    id_mensagem: infoData.id_mensagem || null,\n    id_conta: infoData.id_conta || null,\n    id_conversa: infoData.id_conversa || null,\n    mensagem: infoData.mensagem || null,\n    mensagem_de_audio: infoData.mensagem_de_audio || false,\n    url_chatwoot: infoData.url_chatwoot || null,\n    telegram_chat_id: infoData.telegram_chat_id || null,\n    session_id: infoData.session_id || null,\n    telefone: infoData.telefone || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4928,
        -192
      ],
      "id": "6d57de11-d601-4d64-a305-1ce32244ee69",
      "name": "Criar Contexto Vazio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "80a1bc51-c7ee-428a-935c-50c004cf3078",
              "leftValue": "={{ $json.session_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5152,
        -288
      ],
      "id": "32459c59-8581-4960-b746-deaf09ff57a3",
      "name": "Tem Histórico?"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "n8n_status_atendimento",
          "mode": "list"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "session_id",
              "value": "={{ $('Info').item.json.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5376,
        -288
      ],
      "id": "d774212e-f03a-47ac-95ca-2c1fc2cddbfe",
      "name": "Buscar Última Interação",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "ekqY1gcIc1y9RfUY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ctx_format",
              "name": "contexto_formatado",
              "value": "={{ $json.contexto_valido ? `HISTÓRICO RECENTE ENCONTRADO\nÚltima conversa: há ` + $json.tempo_decorrido_horas + ` horas\nStatus anterior: ` + $json.status_anterior + `\n\n📋 DETALHES DA ÚLTIMA CONVERSA:\n` + JSON.stringify($json.ultimo_contexto, null, 2) + `\n\nIMPORTANTE: Este paciente já conversou com você. Seja natural e continue a conversa.` : `PRIMEIRO CONTATO\nEste é um novo atendimento. Siga o protocolo padrão.` }}",
              "type": "string"
            },
            {
              "id": "tem_hist",
              "name": "tem_historico",
              "value": "={{ $json.contexto_valido }}",
              "type": "boolean"
            },
            {
              "id": "sess",
              "name": "session_id",
              "value": "={{ $json.session_id }}",
              "type": "string"
            },
            {
              "id": "tel",
              "name": "telefone",
              "value": "={{ $json.telefone }}",
              "type": "string"
            },
            {
              "id": "conv",
              "name": "id_conversa",
              "value": "={{ $json.id_conversa }}",
              "type": "string"
            },
            {
              "id": "conta",
              "name": "id_conta",
              "value": "={{ $json.id_conta }}",
              "type": "string"
            },
            {
              "id": "msg_id",
              "name": "id_mensagem",
              "value": "={{ $json.id_mensagem }}",
              "type": "string"
            },
            {
              "id": "url",
              "name": "url_chatwoot",
              "value": "={{ $json.url_chatwoot }}",
              "type": "string"
            },
            {
              "id": "tg",
              "name": "telegram_chat_id",
              "value": "={{ $json.telegram_chat_id }}",
              "type": "string"
            },
            {
              "id": "audio",
              "name": "mensagem_de_audio",
              "value": "={{ $json.mensagem_de_audio }}",
              "type": "boolean"
            },
            {
              "id": "msg",
              "name": "mensagem",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4480,
        -288
      ],
      "id": "0e2ae7d7-916c-4291-9d50-565d6f9eeeb8",
      "name": "Calcular Contexto"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://appchatwoot.casadf.com.br/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/update_last_seen",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2912,
        -288
      ],
      "id": "d50f8cfa-5514-4907-9b8e-d60d095944d3",
      "name": "Marcar como lidas",
      "credentials": {
        "chatwootApi": {
          "id": "4ZLiSQzPuPyb9tMx",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://appchatwoot.casadf.com.br/api/v1/accounts/{{ $('Info').item.json.id_conta }}/conversations/{{ $('Info').item.json.id_conversa }}/toggle_typing_status",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "chatwootApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "typing_status",
              "value": "={{ $('Info').item.json.mensagem_de_audio ? 'recording' : 'on' }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2688,
        -288
      ],
      "id": "3a010154-984f-41ac-970c-b027c20bf6fa",
      "name": "Digitando/Gravando...",
      "credentials": {
        "chatwootApi": {
          "id": "4ZLiSQzPuPyb9tMx",
          "name": "chatwoot-api"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "676d14ec-72d3-4970-9fa0-5e39ff976011",
              "name": "session_id",
              "value": "={{ $('Info').item.json.session_id }}",
              "type": "string"
            },
            {
              "id": "7eab8669-6929-4dc6-b3e2-943065bc306c",
              "name": "mensagem",
              "value": "={{ $('Info').item.json.mensagem_de_audio ? ($('Transcrever audio').item.json.candidates?.[0]?.content?.parts?.[0]?.text || '') : $('Info').item.json.mensagem }}",
              "type": "string"
            },
            {
              "id": "27a15c5f-8ef2-45ef-a40e-c4a37847ada5",
              "name": "status",
              "value": "={{ $('Info').item.json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2464,
        -288
      ],
      "id": "e754b334-3580-4296-8acf-7817753d44d0",
      "name": "Set mensagens",
      "executeOnce": true
    },
    {
      "parameters": {
        "endpointUrl": "https://appn8n.casadf.com.br/mcp/db6bc79d-ba32-41c4-b492-f0f5bbcb8fd3/sse",
        "serverTransport": "=sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -832,
        -64
      ],
      "id": "4186f497-3265-4340-af3e-653dfb624337",
      "name": "MCP Server Google Calendar"
    }
  ],
  "pinData": {},
  "connections": {
    "Mensagem chegando?": {
      "main": [
        [
          {
            "node": "Buscar Última Interação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem recebida": {
      "main": [
        [
          {
            "node": "Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem encavalada?": {
      "main": [
        [
          {
            "node": "Limpar fila de mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar mensagens": {
      "main": [
        [
          {
            "node": "Mensagem encavalada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar fila de mensagens": {
      "main": [
        [
          {
            "node": "Marcar como lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar": {
      "main": [
        [
          {
            "node": "Buscar mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem": {
      "main": [
        [
          {
            "node": "Enfileirar mensagem.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar arquivos": {
      "ai_tool": [
        [
          {
            "node": "Secretária",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Baixar e enviar arquivo": {
      "ai_tool": [
        [
          {
            "node": "Secretária",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Secretária": {
      "main": [
        [
          {
            "node": "Tipo de mensagem1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar alerta de cancelamento": {
      "ai_tool": [
        [
          {
            "node": "Secretária",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Secretária",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Secretária",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Refletir": {
      "ai_tool": [
        [
          {
            "node": "Secretária",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reagir mensagem": {
      "ai_tool": [
        [
          {
            "node": "Secretária",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enfileirar mensagem.": {
      "main": [
        [
          {
            "node": "Esperar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download áudio": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Transcrever audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Info": {
      "main": [
        [
          {
            "node": "Mensagem chegando?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalar humano": {
      "ai_tool": [
        [
          {
            "node": "Secretária",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever audio": {
      "main": [
        [
          {
            "node": "Marcar como lidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar SSML": {
      "main": [
        [
          {
            "node": "Gerar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem1": {
      "main": [
        [
          {
            "node": "Formatar texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formatar SSML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatar texto": {
      "main": [
        [
          {
            "node": "Resetar status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar texto",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model.": {
      "ai_languageModel": [
        [
          {
            "node": "Formatar SSML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resetar status": {
      "main": [
        [
          {
            "node": "Tipo de mensagem2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de mensagem2": {
      "main": [
        [
          {
            "node": "Enviar texto.",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 para áudio": {
      "main": [
        [
          {
            "node": "Enviar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Base64 para áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Audio": {
      "main": [
        [
          {
            "node": "Resetar status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Status e Contexto": {
      "ai_tool": [
        [
          {
            "node": "Secretária",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Historico Cliente": {
      "ai_tool": [
        [
          {
            "node": "Secretária",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho diário": {
      "main": [
        [
          {
            "node": "Buscar informações da conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Assistente de confirmação",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Assistente de confirmação",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Salvar memoria": {
      "ai_tool": [
        [
          {
            "node": "Assistente de confirmação",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Google Calendar.": {
      "ai_tool": [
        [
          {
            "node": "Assistente de confirmação",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Refletir1": {
      "ai_tool": [
        [
          {
            "node": "Assistente de confirmação",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Info1": {
      "main": [
        [
          {
            "node": "Assistente de confirmação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Assistente de confirmação",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar informações da conta": {
      "main": [
        [
          {
            "node": "Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adicionar Contexto": {
      "main": [
        [
          {
            "node": "Merge Info Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Info Contexto": {
      "main": [
        [
          {
            "node": "Calcular Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Contexto Vazio": {
      "main": [
        [
          {
            "node": "Merge Info Contexto",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tem Histórico?": {
      "main": [
        [
          {
            "node": "Adicionar Contexto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Contexto Vazio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Última Interação": {
      "main": [
        [
          {
            "node": "Tem Histórico?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Contexto": {
      "main": [
        [
          {
            "node": "Tipo de mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar como lidas": {
      "main": [
        [
          {
            "node": "Digitando/Gravando...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Digitando/Gravando...": {
      "main": [
        [
          {
            "node": "Set mensagens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set mensagens": {
      "main": [
        [
          {
            "node": "Secretária",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Server Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "Secretária",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9362d81d-530a-4cb8-adb4-d5cb35f472f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f286cafba5b58d8b1023cfee294dd91e7783c809b9ecb33b534a8fef85bb1af7"
  },
  "id": "cy6kzsg2QcU3QxU8",
  "tags": []
}